//Estilo do Projeto
@import ../variables/colors
@import ../variables/fonts
@import ../components/navbar

body
	background: $branco
	color: $azul-marinho
	font-family: Valera

#menu
	background: $azul
	border-radius: 0px
	font-family: Roboto
	border-bottom: 2px solid $azul-escuro