
.form
	margin-top: 50px

	p
		text-align: right
		margin-bottom: 40px
		padding-right: 5px
		font-size: 16px
		font-weight: bold

		&::after
			content: ""
			width: 10px
			height: 10px
			display: inline-block
			background: $verde
			border-radius: 6px
			margin-left: 6px

.form-control
	border-radius: 0px
	border: 0px
	font-weight: bold
	color: $azul-escuro

	&:focus
		box-shadow: none
		border-right: 4px solid $azul-escuro
		transition: border-right .3s 