$branco: #fff
$cinza-claro: #ecf0f1
$cinza-escuro: #A4A4A4

$verde : #2ecc71
$verde-escuro: #27ae60

$azul : #3498db
$azul-escuro : #2980b9
$azul-fosco: #587f98
$azul-marinho: #34495e

$vermelho : #e74c3c
$vermelho-escuro : #c0392b

$lilas: #6f4bb1
$lilas-escuro: #614398

$preto: #2C2C2C

$amarelo: #e0bc3a
